body {
    font-family: sans-serif;
  }
  

input {
    border:none;
    box-shadow: 5px 5px 5px #aaaaaa;
    border-radius: 10px;
    padding: 0.5rem;
    width: 25rem;
    margin-top: 50px;
  }
  
  .no-suggestions {
    color: #999;
    padding: 0.5rem;
    padding-top: 20px;
    /* margin-left:25%; */
    /* justify-content: center; */
    align-content: center;
    
  }
  
  
  .content{
    display: block;
    text-align: center;
    justify-content: center;
  }
  
  .user{
    margin-top:2rem;
  }
  .suggestions {
  
    border: 1px solid #999;
    text-align: center;
    border-top-width: 1px;
    list-style: none;
    margin-left:33.8%;
    margin-top: 0px;
    box-shadow: 5px 5px 5px 5px #aaaaaa;
    justify-content: center;
    align-content: center;
    max-height: 500px;
    overflow-y: auto;
    width: 25rem;
  }
  
  
  ul{
    display: flex;
    flex-direction: column;
    /* width: 700px; */
    padding: 0 0;
  }
  
  
  li{
  
    padding: 0.5em 0.5em;
    margin: auto;
  
  
  }
  .suggestions li {
    padding: 0.5rem;
  }
  
  .suggestion-active,
  .suggestions li:hover {
    background-color: rgb(199, 194, 194);
    color: #282e27;
    cursor: pointer;
    font-weight: bolder;
  }
  
  .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }